[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BSDA"]
	path = BSDA
	url = https://github.com/alanarnholt/bsda
[submodule "PASWR"]
	path = PASWR
	url = https://github.com/alanarnholt/paswr
[submodule "PASWR2"]
	path = PASWR2
	url = https://github.com/alanarnholt/paswr2
